<!--
  Copyright (c) 2016-2023 Martin Donath <martin.donath@squidfunk.com>

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to
  deal in the Software without restriction, including without limitation the
  rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
  sell copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
  FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
  IN THE SOFTWARE.
-->

{% extends "main.html" %}

<!-- Content -->
{% block content %}
  <h1>404 - Página no encontrada, intentaste usar el buscador?</h1>

  Si te parece que hay un problema en el sitio, o ya intentaste navegar y buscar en este sitio, y no encontrás lo que buscás, escribinos por email a <a href="mailto:unsam@frubox.org">unsam@frubox.org</a>.
  <br><br>
  También es posible que hayas llegado acá usando un link a "wiki.frubox.org", es es la vieja URL para la wiki de Frubox.
  <br><br>
  Desde Noviembre de 2023 pasamos el repositorio a sitio de GitLab pages, con una nueva dirección en <a href="https://repo.frubox.org">repo.frubox.org</a>.
  <br><br>

{% endblock %}
